<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/logo-env-rey.webp">
    <link rel="apple-touch-icon" href="../images/logo-env-rey.webp">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Creators</title>
</head>
<body>
    <section class="creators">
        <div class="container">
            <h2>Creadores del sitio web de <a href="../index.html">ENVASES REYNA</a></h2>
            <div class="cards_container">
                <div class="card">
                    <figure>
                        <img src="../images/creator_1.webp">
                    </figure>
                    <div class="card_description">
                        <p>José Manuel Reyna Vásquez</p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="../images/creator_2.webp">
                    </figure>
                    <div class="card_description">
                        <p>Julio César Esparza Romero</p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="../images/creator_3.webp">
                    </figure>
                    <div class="card_description">
                        <p>Andrés García Rosales</p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="../images/creator_4.webp">
                    </figure>
                    <div class="card_description">
                        <p>Ricardo José Guevara Guzmán</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>