.services{
    width:100%;
}
.services_options > ul {
    width:100%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}
.services_options > ul li {
    width:100%;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    box-shadow:1px 2px 10px #00000018;
    border-radius:8px;
}
.services_options > ul li span {
    color:var(--color-green);
    font-size:1.3rem;
}
.services_options > ul li p {
    color:#64676b;
    text-align: justify;
    padding:1rem;
}
.services_options > ul li figure {
    background:var(--color-green);
    padding:1rem;
}
.services_options > ul li figure img {
    width:50%;
    object-fit: cover;
}

/*responsive*/

@media (min-width:240px) and (max-width:880px){
    .services_options > ul {
        grid-template-columns:repeat(1,1fr);
        gap:1.5rem;
    }

    .services_options > ul li p {
        color:#64676b;
        text-align: center;
    }
}